/*======= GERAL =======================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root{
   
    --primary-color: hsl(170, 100%, 26%);
    --headline: hsl(210, 11%, 15%);
    --paragraph: hsl(210, 9%, 31%);
    --brand-beige: hsl(39, 100%, 97%);
    --brand-light: hsl(148, 23%, 89%);

    --bg-light: hsl(180, 14%, 97%);

    --nav-height: 7.2rem;

    font-size: 62.5%; /*1 rm = 10 px*/
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans';
    font-size: 1.6rem;

    text-align: center;
    overflow: overlay;

    background-color: var(--bg-light);
}

ul {  
    list-style: none;
}

img {
    max-width: 100%;
}

.wrapper {
    width: 37.5rem;
    margin-right: auto;
    margin-left: auto;
    padding-inline: 2.4rem;
}

section {
    padding-block: 10rem;
}

section header h4{
    font-size: 1.4rem;  /* 14 px*/
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 1.6rem;
    
    line-height: 150%;
    letter-spacing: 0.08rem;

    text-transform: uppercase;
/* identical to box height, or 21px */

letter-spacing: 0.08em;
}

section header h2{
    font-size: 3rem;
    line-height: 3.9rem;

    color: var(--headline);
}

section header h1{
    font-size: 3.4rem;  /* */
    color: var(--headline);
    line-height: 100%;

    margin-bottom: 2.4rem;   
}

section .content p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;

    color: var(--paragraph);

}

/*======= NAVIGATION - Barra ==================================*/
nav {
    display: flex;

    height: var(--nav-height);
    position: fixed;
    top: 0;
    width: 100vw; 

    z-index: 100;
}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/*Classe para estilizar quando houver rolagem*/
nav.scroll {
    background-color: var(--primary-color);
  
}

nav.scroll .logo path{
    fill: white;/*Primeiro SVG*/
}

nav.scroll button path{
    stroke: white; /*Segundo*/
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
}

/*======= HOME =======================================*/

#home {
    padding-top: calc(4.1rem + var(--nav-height));

}

/* Antes do conteudo do header */
#home::before {
    content: "";
    width: 100%; /*view port width*/
    height: calc(108rem + var(--nav-height));
    background-color: var(--brand-light);
    display: block;

    position: absolute; /*sobreposto - por cima do conteudo*/
    top: 0;
    left: 0;
    z-index: -10;

}


#home p {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph);

    margin-bottom: 3.2rem;

}

#home button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.8rem;
    margin-bottom: 6rem;

    height: 6.3rem;
    width: 26.4rem;
    border-radius: 4rem;

    color: #FFFF;
    text-transform: uppercase;

    display: flex; /*Um ao lado do outro*/
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    margin-right: auto;
    margin-left: auto;


    /*display: block;*/
}


#home img {
    width: 26.4rem;
    display: block; /*Colar com a div de baixo*/
    margin-inline: auto;
    object-position: 0 2rem; /*Posição da imagem: (x, y) -> 20 joga pra baixo*/
     
}
  

#home .stats{
    width: 32.7rem;    
    padding-block: 4rem;
    margin-inline: auto;

    background-color: var(--brand-beige);
    border: 1px solid var(--brand-light);
    border-radius: .6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem; /*Separação entre os elementos*/

    
}

#home .stat h3{
    font-size: 4.8rem;
    color: var(--headline);
    line-height: 130%;
    margin-bottom: 0.4rem;
}

#home .stat p{
    margin: 0;
    color: var(--primary-color);
    font-size: 1.6rem;
}

/*======= MENU - EXPANDED =======================================*/
body.menu-expanded {
    overflow: hidden;
}

/*Some com tudo, menos o nav*/
body.menu-expanded > :not(nav){
    visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
}

.menu {
    transform: translateY(100%);
}

body.menu-expanded .menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);

    width: 100vw;
    height: 100vh;

    padding: var(--nav-height);

    transition: transform 400ms;

    transform: translateY(0);
}

body.menu-expanded nav {
   
}

/*Pega o primeiro ul*/
.menu ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;

    margin-top: 6rem;

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
}

.menu ul li a {
    color: white;
    text-decoration: none;
}

.menu .button {
    background-color: #FFFF;
    border-radius: 4rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;
    text-decoration: none;

    display: inline-block; /*Quebra linha e tira sobreposição*/
    padding: 1.6rem 3.2rem;

    margin-top: 4.8rem;
    margin-bottom: 8rem;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded button  {
    position: relative;
    z-index: 10;
}

body.menu-expanded .logo path{
    fill: white;/*Primeiro SVG*/
}

body.menu-expanded button path{
    stroke: white; /*Segundo*/
}

/*======= SERVICES =======================================*/
#services header h2 {
    margin-bottom: 6rem;
}

#services .cards{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

#services .card{
    padding: 2.4rem;
    text-align: left;    
    
    /* Secondary Colors/White */
    background: white;

    /* Primary Colors/brand-green-light */
    border: 1px solid var(--brand-light);
    border-radius: 0.6;
}

#services .card h3{
    margin-block: 1.6rem; /*em cima e em baixo*/
}

/*======= ABOUT =======================================*/
#about {
    text-align: left;
    background-color: var(--brand-beige);
}

#about header h2 {
    margin-bottom: 2.4rem;
}

#about content p {
    margin-top: 2.4rem;
    margin-bottom: 6rem;
}


/* ctrl a, ctrl k ctrl 1*/

/* HTML - ctrl a, ctrl k ctrl 3*/